:root {
    --fontnextbold: "NEXT ART";
    --bodywhite: rgba(253, 253, 253, 1);
    --fontnunito: "Nunito Sans";
    --bordradius: 5px;
    --darkgreen: rgba(26, 62, 62, 1);
    --yellow: rgba(242, 190, 34, 1);
    --blacktext: rgba(24, 18, 30, 1);
}

@font-face {
    font-family: "NEXT ART";
    src: url(fonts/next-art/NEXT\ ART_Bold.otf);
}

body {
    font-family: var(--fontnunito);
}


.head {
    background-image: url(images/head_images/Rectangle1.png);
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.nav_logo { 
display: none;
}

.header_button{
    color: var(--bodywhite);
    font-family: var(--fontnunito);
    font-weight: 400;
    font-size: 18px;
    background-color: rgba(26, 62, 62, 1);
    border-radius: var(--bordradius);
    height: 40px;
    border: none;
    padding-inline: 20px;
    text-wrap: nowrap;
}

.header_button:hover {
    background-color: var(--bodywhite);
    border: 1px solid black;
    color: var(--darkgreen);
}
.header_nav {
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
    align-items: center;
}
.header_nav a{
    color: var(--bodywhite);
    font-family: var(--fontnunito);
    font-weight: 600;
    font-size: 18px;
}


.head_info {
    max-width: 1245px;
    padding-inline: 41px;
    margin-block: 345px 38px
}
.head_text{
    max-width: max-content;
}

.head_text h1 {
font-family: var(--fontnextbold);
font-weight: 700;
font-size: 50px;
line-height: 139%;
letter-spacing: 2px;
color: #fdfdfd;
}

.header_forms{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 50px;
    border-radius: var(--bordradius);
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.form_block {
    height: 52px;
    background: none;
    border: 1px solid var(--bodywhite);
    border-radius: var(--bordradius);
    color: var(--bodywhite);
    text-align: center;
   
}
.form_block::placeholder {
    color: var(--bodywhite);
}
.form_block option {
    color: rgba(26, 62, 62, 1);
    
}


.header_form-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.form_item {
    display: flex;
    flex-direction: column;
    color: var(--bodywhite);
    flex: 1 1 auto;
   
}
/* .form_item::after {
    position: absolute;
    content: url(images/ep_arrow-down.svg); */


.form_item label {
    font-size: 14px;
    font-family: var(--fontnunito);
    font-weight: 400;
    padding-top: 5px;
}

.search_programm {
    background-color: var(--bodywhite);
    color: rgba(26, 62, 62, 1);
    font-size: 16px;
    font-family: var(--fontnunito);
    font-weight: bold;
    width: 213px;
    height: 52px;
    border-radius: var(--bordradius);
    border: 1px solid;
}

.search_programm:hover {
    background-color: var(--darkgreen);
    color: var(--bodywhite);
}

/* Next page */

.tour_programm {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-block: 50px;
    padding-inline: 20px;
}

.tour_programm-content {
    position: relative;
    width: 580px;
}

.programm-content_video {
position: absolute;
top: 16%;
    left: 25%;
}
.tour_programm-text {
    width: 580px;
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 36px;
    justify-content: space-evenly;
}

.yellow_text {
    font-size: 24px;
    font-family: var(--fontnunito);
    color: var(--yellow);
    font-weight: 400;
    line-height: 20px;
}
.grand_text {
    font-size: 32px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 800;
    line-height: 38px;
}

.content_text {
    font-size: 18px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 400;
    line-height: 27px;
    padding-block: 30px;
}

.best_programm {
    display: flex;
    justify-content: center;
    padding-inline: 20px;
    gap: 60px;
    background-color: rgba(243, 245, 244, 1);
    padding-block: 40px;
}
.best_programm-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 580px;
}
.best_programm-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.best_programm-items > div {
    display: flex;
    gap: 20px;
    align-items: center;
}
.best_programm-items > div > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.programm-item1::before {
    content: url(images/head_images/item1.svg);
    position: static;
}
.programm-item2::before {
    content: url(images/head_images/item2.svg);
}
.programm-item3::before {
    content: url(images/head_images/item3.svg);
}
.middle_text {
    font-size: 18px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.2%;
}

.easy_text {
    font-size: 14px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 400;
    line-height: 20px;
   
}

.best_programm-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    align-content: center;
}

/* popular_section */

.scroll {
    width: 90%;
    height: 520px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}


.programm_popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.popular_content {
    overflow-y: hidden;
    display: flex;
    gap: 30px;
   
}

.popular_head {
    padding-block: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popular_item1 {
    background-image: url(images/popular_background1.png);
    min-width: 370px;
    height: 500px;
    position: relative;
    border-radius: 10%
    
}

.popular_item2 {
    background-image: url(images/popular_background2.png);
    min-width: 370px;
    height: 500px;
    position: relative;
    border-radius: 10%

}

.popular_item3 {
    background-image: url(images/popular_background3.png);
    min-width: 370px;
    height: 500px;
    position: relative;
    border-radius: 10%

}

.stars {
    display: flex;
    position: absolute;
    background-color: rgba(253, 253, 253, 0.4);
    height: max-content;
    padding: 5px;
    gap: 5px;
    top: 10%;
    right: 0%;
}
.stars p {
    padding: 0;
}

.pop_slide-head {
    display: flex;
    padding: 30px 20px;
    justify-content: space-around;
}

.slide-head_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.slide-head_price {
    background-color: rgba(255, 255, 255, 0.3);
    width: max-content;
    height: max-content;
    padding: 10px;
}
.white {
    color: var(--bodywhite);
    padding: 0px;
}

.popular_slide {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    position: absolute;
    top: 78%;
    transition: 2s;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    border-radius: 10%;
    z-index: 5;
}
.popular_slide:hover {
  transform: translateY(-78%);

}

.pop_slide-main {
    padding-inline: 20px;
}

.popular_button {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* journey_programm */

.journey_programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(243, 245, 244, 1);
    padding: 40px;
    gap: 30px;
}

.journey_cards {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 20px;
}

.article {
    display: flex;
    max-width: 580px;
    max-height: 312px;
    gap: 20px;
    background-color: var(--bodywhite);
    padding: 10px;
    border-radius: var(--bordradius);
    box-shadow: 0px 1px 7px black;
}

.article_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.article_text h2 {
    font-size: 24px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 700;
    line-height: 32px;
}


.article_text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article_text h3 {
    color: var(--yellow);
}

.journey_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* images_section */
.images {
    padding-top: 40px;
    padding-bottom: 150px;
}

.images_body {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.images_content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: max-content;
    justify-items: center;
    gap: 10px;
}

.images_content div:nth-child(1) {
    grid-column: 1 / 3;
}
.images_content div:nth-child(5) {
    grid-column: 2 / 4;
}
.images_content > div img{
    height: 100%;
    width: 100%;
}
.images_content div {
background-image: url(images/search.svg);
}
.images_content > div:hover {
    filter: contrast(60.2%);

}

.images_button {
    display: flex;
    justify-content: center;
}

/* footer  */
.h2size {
    font-size: 24px;
    font-family: var(--fontnunito);
    color: var(--bodywhite);
    font-weight: 700;
    line-height: 32px;
}

.footer_block-position {
    position: absolute;
    top: -20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer_block {
    background-color: var(--bodywhite);
    border-radius: var(--bordradius);
    top: -15%;
    position: absolute;
    padding-block: 40px;
    max-width: 1180px;
    box-shadow: 1px 1px 11px gray;
    display: flex;
    justify-content: space-around;
    padding-inline: 20px;
    gap: 15px;
    margin-inline: 15px;
}


.footer_form div {
    display: flex;
    gap:15px
}
.footer_form {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_form legend {
    font-family: var(--fontnunito);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}
.footer_form input::placeholder {
    font-size: 14px;
    font-family: var(--fontnunito);
    padding-left: 5px;
}

.footer_block-text {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_block input {
    background-color: rgba(243, 245, 244, 1);
    border-radius: var(--bordradius);
    border: none;
    width: 280px;
    height: 40px;
}

footer {
    width: 100%;
    height: 587px;
    background-color: var(--darkgreen);
    display: flex;
    align-items: center;
    position: relative;
}

.footer_content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding-top: 100px;
    padding-inline: 15px;
}

.contacts {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
}

.contacts_top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

footer p {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}

footer a {
    text-decoration: underline;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-family: var(--fontnunito);
}
footer a:hover {
    color: var(--yellow);
    text-decoration: underline;
}


.contacts_info {
    display: flex;
    gap: 20px;
}

.contacts_logo {
    display: flex;
    gap: 20px;
}

footer li a{
text-decoration: none;
font-weight: 400;
}

footer li::before {
    content: url(images/arrow_footer.svg);
    padding-right: 5px;
}
footer ul {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1100px) {
    .header {
        justify-content: space-between;
    padding-inline: 41px;
    align-items: center;
    }
    .head_info {
        margin-block: 30vh 38px;
    }
    .menu_logo {
        background-image: url(images/head_images/Vector.svg);
        background-repeat: no-repeat;
        width: 43px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }
    .nav_logo {
        display: block;
        max-width: 250px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(247, 247, 247);
        cursor: pointer;
    }
     .menu_nav {
        list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(26, 62, 62, 1);
  display: none;
     }
     .menu_nav a{
        color: var(--bodywhite);
        font-family: var(--fontnunito);
        font-size: 18px;
        font-weight: 600;
     }
     
     .visible {
        position: absolute;
        display: block;
        animation-name: menulist;
        animation-duration: 1s;
        transform-origin: right;
        right: 0;
        width: 92%;
        margin-inline: 4%;
        border-radius: 6px;
        top: 10px;
     }
     @keyframes menulist {
        0%  {
          transform: scaleX(0);
         
        }
        100% {
          transform: scaleX(1);
          
        }

      }
    .header_nav {
        display: none;
    }
    .header_button button{
        font-size: 0;
        width: 0;
        height: 0;
        border: none;
        padding: 0;
    }
    .header_form-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }
    .form_item {
        min-width: 287px;
    }
    .tour_programm {
        height: max-content;
    }

    .programm-content_image {
        display: none;
    }
    .programm-content_video {
        position: static;
    }
    .tour_programm-content {
        width: max-content;
    }
    .tour_programm-text {
        padding-block: 0px;
    width: 100%;
    height: max-content;
    gap: 15px;
    }

    .content_text {
        padding-block: 0px;
    }
    .best_programm-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .best_programm-content img {
        width: 105px;
    }

    .journey_cards {
        display: grid;
        grid-template-columns: 1fr;
       
    }

    .article {
       max-width: 100%;
    }
    .footer_block input {
        max-width: 280px;
        width: 100%;
    }
    .footer_content {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media (max-width: 773px) {
  
.header img {
    width: 60px;
}

.menu_logo {
    height: 20px;
    width: 20px;
}

.form_item {
    display: none;
    
}
.header_forms {
    background: none;
    padding: 0;

}
.header_form-items {
    justify-content: start;
}
    .head_text h1{
font-size: 28px;
    }

.tour_programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
    gap: 20px;
}
.best_programm-content {
    display: none;
}

.journey_content {
    width: 100%;
    overflow-x: hidden;
}
.journey_cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: scroll;
}
.article {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.article_text {
    display: flex;
    flex-direction: column;
    height: 225px;
    justify-content: space-between;
}
.images_body {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
}
.images_content > div img {
    height: 100%;
    width: 280px;
}

.images_content {
    display: flex;  
    gap: 10px;   
}
.images {
    padding-bottom: 200px;
}
footer {
    height: max-content;
}
.footer_block {
    flex-direction: column;
}
.footer_block-text {
    max-width: max-content;
}
.footer_content {
    padding-top: 230px;
    padding-bottom: 30px;
}

}
@media (max-width: 441px) {
    .head_text h1{
        font-size: 20px;
    }

    .programm-content_video img {
        width: 320px;
    }
.yellow_text {
    font-size: 16px;
}
.grand_text {
    font-size: 24px;
}

.content_text {
    font-size: 16px;
}

.popular_card > div {
    min-width: 300px;
    height: 420px;

}

.scroll {
    height: 435px;
}
.images_content > div img {
    height: 100%;
    width: 196px;
}
.contacts {
    padding-top: 30px;
}
.footer_form div {
flex-direction: column;
}
.footer_content {
    padding-top: 280px 
}
.footer_block input {
    max-width: 100%;
}
}