:root {
    --fontnextbold: "NEXT ART";
    --bodywhite: rgba(253, 253, 253, 1);
    --fontnunito: "Nunito Sans";
    --bordradius: 5px;
    --darkgreen: rgba(26, 62, 62, 1);
    --yellow: rgba(242, 190, 34, 1);
    --blacktext: rgba(24, 18, 30, 1);
}

@font-face {
    font-family: "NEXT ART";
    src: url(fonts/next-art/NEXT\ ART_Bold.otf);
}

body {
    font-family: var(--fontnunito);
}


.head {
    background-image: url(images/head_images/Rectangle1.png);
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-around;
}
.nav_logo { 
display: none;
}

.header_button{
    color: var(--bodywhite);
    font-family: var(--fontnunito);
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(26, 62, 62, 1);
    border-radius: var(--bordradius);
    height: 40px;
    border: none;
    padding-inline: 20px;
}
.header_nav {
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
    align-items: center;
}
.header_nav a{
    color: var(--bodywhite);
    font-family: var(--fontnunito);
    font-weight: 600;
    font-size: 18px;
}


.head_info {
    max-width: 1245px;
    padding-inline: 41px;
    margin-block: 345px 38px
}
.head_text{
    max-width: max-content;
}

.head_text h1 {
font-family: var(--fontnextbold);
font-weight: 700;
font-size: 50px;
line-height: 139%;
letter-spacing: 2px;
color: #fdfdfd;
}

.header_forms{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px 50px;
    border-radius: var(--bordradius);
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.form_block {
    height: 52px;
    background: none;
    border: 1px solid var(--bodywhite);
    border-radius: var(--bordradius);
    color: var(--bodywhite);
    text-align: center;
   
}
.form_block::placeholder {
    color: var(--bodywhite);
}
.form_block option {
    color: rgba(26, 62, 62, 1);
    
}


.header_form-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.form_item {
    display: flex;
    flex-direction: column;
    color: var(--bodywhite);
    flex: 1 1 auto;
   
}
/* .form_item::after {
    position: absolute;
    content: url(images/ep_arrow-down.svg); */

}
.form_item label {
    font-size: 14px;
    font-family: var(--fontnunito);
    font-weight: 400;
    padding-top: 5px;
}

.search_programm {
    background-color: var(--bodywhite);
    color: rgba(26, 62, 62, 1);
    font-size: 16px;
    font-family: var(--fontnunito);
    width: 213px;
    height: 52px;
    border-radius: var(--bordradius);
    border: 1px solid;
}

/* Next page */

.tour_programm {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
    padding-inline: 20px;
}

.tour_programm-content {
    position: relative;
    width: 580px;
}

.programm-content_video {
position: absolute;
top: 23%;
    left: 25%;
}
.tour_programm-text {
    width: 580px;
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 36px;
    justify-content: space-evenly;
}

.yellow_text {
    font-size: 24px;
    font-family: var(--fontnunito);
    color: var(--yellow);
    font-weight: 400;
    line-height: 20px;
}
.grand_text {
    font-size: 32px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 800;
    line-height: 38px;
}

.content_text {
    font-size: 18px;
    font-family: var(--fontnunito);
    color: var(--blacktext);
    font-weight: 400;
    line-height: 27px;
    padding-block: 30px;
}



@media (max-width: 1100px) {
    .header {
        justify-content: space-between;
    padding-inline: 41px;
    align-items: center;
    }
    .head_info {
        margin-block: 30vh 38px;
    }
    .menu_logo {
        background-image: url(images/head_images/Vector.svg);
        background-repeat: no-repeat;
        width: 43px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }
    .nav_logo {
        display: block;
        max-width: 250px;
        text-align: center;
        line-height: 50px;
        font-size: 15px;
        color: rgb(247, 247, 247);
        cursor: pointer;
    }
     .menu_nav {
        list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(26, 62, 62, 1);
  display: none;
     }
     .menu_nav a{
        color: var(--bodywhite);
        font-family: var(--fontnunito);
        font-size: 18px;
        font-weight: 600;
     }
     
     .visible {
        position: absolute;
        display: block;
        animation-name: menulist;
        animation-duration: 1s;
        transform-origin: right;
        right: 0;
        width: 92%;
        margin-inline: 4%;
        border-radius: 6px;
        top: 10px;
     }
     @keyframes menulist {
        0%  {
          transform: scaleX(0);
         
        }
        100% {
          transform: scaleX(1);
          
        }

      }
    .header_nav {
        display: none;
    }
    .header_button button{
        font-size: 0;
        width: 0;
        height: 0;
        border: none;
        padding: 0;
    }
    .header_form-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }
    .form_item {
        min-width: 287px;
    }

    .programm-content_image {
        display: none;
    }
    .programm-content_video {
        position: static;
    }
    .tour_programm-content {
        width: max-content;
    }
    .tour_programm-text {
        padding-block: 0px;
        width: 100%;
    }
    .content_text {
        padding-block: 0px;
    }
}
@media (max-width: 773px) {
  
.form_item {
    display: none;
    
}
.header_forms {
    background: none;
    padding: 0;

}
.header_form-items {
    justify-content: start;
}
    .head_text h1{
font-size: 28px;
    }

.tour_programm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
}
@media (max-width: 441px) {
    .head_text h1{
        font-size: 20px;
    }

.yellow_text {
    font-size: 16px;
}
.grand_text {
    font-size: 24px;
}

.content_text {
    font-size: 16px;
}
}
